// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.location {
  color: cyan;
  padding: 20px;
  border: 2px solid #2a52be;
  border-radius: 15px;
  margin-bottom: 10px;
}
